<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Hystove: Cook with Hystove</title>

</head>
<body>

<!--<div class='preloader'><div class='loaded'>&nbsp;</div></div>-->
<%= render "pages/navigation" %>
<section id="banner" class="banner">
  <div class="container">
    <div class="row">
      <div class="main_banner_area text-center">
        <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
          <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
            <p>Hystove Gallery of Recipes</p>

            <div class="separetor"></div>


            <%= link_to 'New Recipe', new_recipe_path , class: 'btn' , style: "width: 300px; height: 50px; align-text: center; border-radius: 20px; "%>'



          </div>
        </div>


        <div class="scrolldown">
          <a href="#special" class="scroll_btn"></a>
        </div>
      </div>


    </div>
  </div>
</section><!-- End of Banner Section -->

